@keyframes appear1{
    0%{
        clip-path: polygon(-10% -10%, -10% -10%, -10% -10%, -10% -10%, -10% -10%, -10% -10%);
    }
    50%{
        clip-path: polygon(-10% -10%, 110% -10%, 110% -10%, -10% 110%, -10% 110%, -10% -10%);
    }
    100%{
        clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 110% 110%, -10% 110%, -10% -10%);
    }
}

@keyframes swipe{
    0%{
        clip-path: polygon(-10% -10%, -10% -10%, -10% -10%, -10% -10%, -10% -10%, -10% -10%);
    }
    10%{
        clip-path: polygon(-10% -10%, 110% -10%, 110% -10%, -10% 110%, -10% 110%, -10% -10%);
    }
    20%{
        clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 110% 110%, -10% 110%, -10% -10%);
    }
    80%{
        clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 110% 110%, -10% 110%, -10% -10%);
    }
    90%{
        clip-path: polygon(110% -10%, 110% -10%, 110% 110%, 110% 110%, -10% 110%, -10% 110%);
    }
    100%{
        clip-path: polygon(110% 110%, 110% 110%, 110% 110%, 110% 110%, 110% 110%, 110% 110%);
    }
}











/*

@keyframes appear1{
    0%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
}

@-moz-keyframes appear1{
    0%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
}

@-o-keyframes appear1{
    0%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
}

@-webkit-keyframes appear1{
    0%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }
}*/